/* This file is part of Cragbook https://github.com/clbonner/cragbook
 * and is licensesed under the GNU General Public License version 3.
 * Copyright 2017 Christopher L Bonner
 *
 * css/cragbook.css
 * CSS for Cragbook.
 */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}

body {
    margin: auto;
}

header {
    height: 32px;
    width: 100%;
    color: white;
    font-size: 25px;
    background-color: #0099ff;
    margin: 0px;
    left: 15px;
}

footer {
    margin-top: 15px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2 {
    margin: 0px;
    font-size: 30px;
    font-style: normal;
    padding-bottom: 5px;
}

table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    background-color: #fff;
}

table, td {
    border-bottom: 1px solid;
    border-color: #e6e6e6;
    text-align: left;
}

th {
    color: #fff;
    background-color: #0099ff;
    text-align: left;
    border-bottom: 1px solid;
    border-color: #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 10px;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

a {
    color: #000;
    text-decoration: none;
}

button {
    margin-right: 2px;
}

/* main title in header section */
#sitetitle {
    padding-left: 5px;
}

/* the site menu */
#menu {
    height: 26px;
    width: 100%;
    overflow: hidden;
    background-color: #e6e6e6;
    color: #000;
    font-size: 14px;
    margin: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.menu-icon {
    height: 15px;
}

.title {
    font-size: 30px;
}

.heading {
    font-size: 15px;
}

/* icons for choosing between list view and map view */
#viewpicker {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* grade filter for routes */
#gradefilter {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 8px;
}

/* routes view */
#routes {
    border: 1px solid;
    border-collapse: collapse;
    border-color: #999999;
    text-align: center;
    overflow-x: auto;
}

/* modal content for route info window */
#routeinfowindow {
    position: fixed;
    margin: auto;
    padding: 15px;
    width: 80%;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
    border: 1px solid;
    border-color: #999999;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/* crag info view */
#craginfo {
    text-align: left;
}

/* link back to area page from crag info page */
#backlink {
    padding: 15px;
    padding-bottom: 0px;
    font-size: 10px;
    color: #000;
    text-decoration: none;
}

/* default map view */
#map {
    height: 300px;
}

/* areas/crags list */
#list, .list {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

/* center text when no areas/crags exist */
#nocrags, #noareas, #noresults {
    text-align: center;
}

/* ajax error */
#ajaxerr {
    padding: 10px;
}

/* default button used */
.btn {
    border:none;
    display:inline-block;
    outline:0;
    padding:5px 15px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    background-color:inherit;
    color: #000;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:4px;
    font-size: inherit;
}

.btn:hover {
    color: #fff;
    background-color: #f44336;
}

.btn-border {
    display: inline-block;
    outline: 0;
    padding: 5px 15px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    font-size: inherit;
    border-collapse: collapse;
    border: 1px solid;
    border-color: #999999;
}

.btn-border:hover {
    color: #fff;
    border-color: #f44336;
    background-color: #f44336;
}

/* admin user buttons */
.btn-edit {
    border:none;
    display:inline-block;
    outline:0;
    padding:5px 15px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#fff;
    background-color:#f44336;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:4px;
}

.btn-delete {
    border:none;
    display:inline-block;
    outline:0;
    padding:5px 15px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#fff;
    background-color:#f44336;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:4px;
}

.btn-cancel {
    border:none;
    display:inline-block;
    outline:0;
    padding:5px 15px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#fff;
    background-color:#f44336;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:4px;
}

.btn-save {
    border:none;
    display:inline-block;
    outline:0;
    padding:5px 15px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#fff;
    background-color: #2eb82e;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:4px;
}

/* for positioning elements */
.left {
    float: left;
    margin: 0px;
}

.right {
    float: right;
    margin: 0px;
}

/* main content area for page */
.content {
    margin: 15px;
    padding: 15px;
    font-size: 12px;
}

/* adds drop shadow and border to elements */
.panel {
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

/* various margins */
.margin-15 {
    margin: 15px;
}

.margin-5 {
    margin: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-side-5 {
    margin-left: 5px;
    margin-right: 5px;
}

/* centering content */
.center {
    text-align: center;
}

.middle {
    position: fixed;
    top: 30%;
    left: 20%;
    right: 20%;
}

/* background for modal popup */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.pointer {
    cursor: pointer;
}

/* responsive section */

/* center areas/crags list on small screens */
@media only screen and (max-width: 768px) {
    #list, .list {
        padding: 5px;
        text-align: center;
    }
    
    th, td {
        text-align: center;
    }
}